body,
html {
  margin: 0;
}

/* --------- scroll horizontal --------- */

.slide {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.blocHorizontal {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
}

.one {
  background: rgb(255, 255, 255);
}
.two {
  background-image: url(/images/fond-page2.png);
  z-index: -1;
}
.three {
  background-color: #000000;
}
/* -------- Scroll design ---------- */

/* -------- Interactions avec le burger menu -------- */

body {
  margin: 0;
  padding: 0;

  background: #ececec;
  font-family: "Formula1", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: rgb(255, 0, 0);
}

#menuToggle input {
  display: block;
  width: 20px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #e50000;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* polices import font officiel Formule 1 */
@font-face {
  font-family: "Formula1", sans-serif;
  src: url(/fonts/Formula1-Regular_web_0.ttf) format("truetype");
  src: url(/fonts/Formula1-Bold_web_0.ttf) format("truetype");
}

/* quelques classes utiles */
/* colone */
.row {
  display: flex;
}

/* centrer */
.center {
  align-items: center;
  justify-content: center;
}

/* image */
.img {
  max-width: 100%;
}

/* couleur */
h1 {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
p {
}

/* taille et caractéristique */
h1 {
  font-family: "Formula1", sans-serif;
  font-weight: bold;
}
h1 {
}
h2 {
}
h3 {
  font-family: "Formula1", sans-serif;
  font-weight: bold;
}
h4 {
}
p {
  font-family: "Formula1", sans-serif;
}

/* page 1 – Track – */
.Track {
}
.name-track {
  margin-top: 200px;
  margin-left: 231px;
}

.specs-track {
  display: flex;
}
.Lenght {
  position: absolute;
  width: 107px;
  height: 58px;
  left: 231px;
  top: 731px;
}

.WorldRecordTour {
  position: absolute;
  width: 244px;
  height: 58px;
  left: 429px;
  top: 731px;
}

.Built-in {
  position: absolute;
  width: 103px;
  height: 58px;
  left: 761px;
  top: 731px;
}

.ImgTrack {
  position: absolute;
  width: 1265px;
  height: 394px;
  left: 231px;
  top: 250px;
}
